In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [12]:
#Importing data
df=pd.read_excel(r"C:\Users\user\Desktop\Projects\Data Professionals Compensation\Compensation data-Raw.xlsx")
df

,Timestamp,What is your Current Role?,"If other, please indicate your role here",What is your Level?,How many years of experience do you have in the data Field?,"What industry is your Employer? eg Fintech, Utilities, HR, Gaming, Health etc.",What is your gender,What is your main Tech stack?,"If other, please indicate your tool stack here",What is your monthly Gross Salary in Kes per month?,Any other benefits?,What is your work setup?,Employer Type
0,2023-10-02 20:02:52.903,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Education,Female,"Python, SQL, SAS/SPSS, Tableau, Excel",NaN,NaN,Other Company specific Perks not listed above,Full remote,Startup
1,2023-10-02 16:41:24.075,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Fintech,Female,"Python, SQL, Excel",NaN,187000,"Health Insurance, Pension, Mobile Phone",Full remote,Established
2,2023-10-02 19:24:44.676,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Health,Female,"Power BI, Excel",NaN,190000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
3,2023-10-02 16:42:03.054,Data Analyst,NaN,Intern,Beginner,Education,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Bonus,Full remote,Startup
4,2023-10-02 17:59:30.959,Data Analyst,NaN,Intern,Beginner,Azubi Africa,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,00,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
5,2023-10-02 18:00:46.645,Data Analyst,NaN,Intern,Beginner,Azubi Africa,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,00,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
6,2023-10-03 10:25:35.148,Other,Academic Director,Manager eg Manager of Analytics,Over 7 Yrs,Education,Female,Excel,NaN,500000,Health Insurance,Full Office,Established
7,2023-10-02 18:33:15.548,Other,Data Manager (Digital),Mid-Level eg Data Analyst,1yr-2yrs,NGO,Male,"Python, R, Power BI, Google Data Studio, Excel...",NaN,375000,"Health Insurance, Mobile Credit Top-up",Hybrid-I choose my days to go the office,Established
8,2023-10-02 17:19:13.565,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech,Male,"Python, SQL, Microsoft Azure",NaN,335000,"Health Insurance, Mobile Credit Top-up, Bonus",Full remote,Established
9,2023-10-03 14:29:35.245,Data Analyst,NaN,Manager eg Manager of Analytics,Over 5 Yrs,Telecommunications,Female,"Python, SQL, Power BI, Excel",NaN,310000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
10,2023-10-02 16:32:13.149,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Banking,Male,"Python, SQL, Other","Aws, Apache Spark, dbt etc",280000,"Health Insurance, Pension, Other Company speci...",Hybrid- I need to be in the office specific da...,Established
11,2023-10-02 16:41:37.930,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Socio-economic Development,Female,"R, Power BI, Excel",NaN,230000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
12,2023-10-02 17:04:29.770,Data Analyst,NaN,Senior Level eg Senior Data Analyst,Over 7 Yrs,Telco,Male,"Python, SQL, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
13,2023-10-02 18:17:00.456,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,NGO,Male,"Python, Tableau, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-I choose my days to go the office,Established
14,2023-10-02 18:48:44.734,Data Analyst,NaN,Senior Level eg Senior Data Analyst,3yrs-5yrs,machine learning,Male,"SQL, Google Sheets",NaN,200000,Bonus,Full Office,Established
15,2023-10-03 07:51:27.813,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Retail,Female,"Excel, Google Sheets, Other",Metabase,200000,"Health Insurance, Stocks, Mobile Credit Top-up",Full Office,Startup
16,2023-10-02 17:32:13.415,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Government,Female,"Python, SQL, Power BI, Excel",NaN,177000,"Health Insurance, Pension",Full Office,Established
17,2023-10-02 16:27:09.316,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Utilities,Male,"R, Power BI, Excel",NaN,166000,"Health Insurance, Pension",Full Office,Established
18,2023-10-02 17:29:16.917,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Fintech,Female,"Python, SQL, Power BI, Excel",NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
19,2023-10-02 16:45:31.548,Data Analyst,Manufacturing,Lead eg Lead Analyst,3yrs-5yrs,Manufacturing,Male,"SQL, Power BI, Excel, Google Sheets",NaN,155000,"Health Insurance, Mobile Credit Top-up, Bonus",Full Office,Startup
20,2023-10-02 22:19:55.273,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,155000,"Health Insurance, Pension, Bonus",Full remote,Established
21,2023-10-02 16:47:00.248,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,SAAS(Foodtech),Female,"Python, SQL, Tableau, Excel, Google Sheets, Other",DBT,150000,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Startup
22,2023-10-03 08:52:29.380,Other,Human Resources Manager,Manager eg Manager of Analytics,Over 7 Yrs,Religious,Female,Other,Microsoft office,150000,Health Insurance,Full Office,Established
23,2023-10-02 16:30:37.577,Other,Monitoring & Evaluation,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"Power BI, Excel, Google Sheets",NaN,125000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-I choose my days to go the office,Established
24,2023-10-02 16:38:30.896,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech,Female,"Python, SQL, R, Microsoft Azure, Excel",NaN,120000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
25,2023-10-02 16:26:15.098,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Professional Services (Accounting),Female,"Python, Power BI, Excel",NaN,109000,"Health Insurance, Pension, Bonus",Hybrid-I choose my days to go the office,Established
26,2023-10-02 19:03:57.454,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"SQL, Tableau, Power BI, Excel, Google Sheets",NaN,105000,"Health Insurance, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
27,2023-10-02 18:35:30.604,Data Analyst,Advisory,Junior eg Junior Data Analyst,1yr-2yrs,Consulting,Male,"SQL, Power BI, Excel, Other",Alteryx,100000,Health Insurance,Hybrid- I need to be in the office specific da...,Established
28,2023-10-02 16:45:37.936,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Bank,Male,"Power BI, Excel",NaN,97200,"Pension, Mobile Credit Top-up",Full Office,Established
29,2023-10-02 16:53:42.207,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Banking,Female,"SQL, Excel, Google Sheets, Other",QlikSense,95000,"Health Insurance, Pension",Full Office,Established
30,2023-10-02 18:27:20.248,Other,Data Mangement Associate,Junior eg Junior Data Analyst,3yrs-5yrs,Health,Male,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,92000,"Health Insurance, Pension, Bonus",Full Office,Established
31,2023-10-02 16:39:50.981,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Utilities,Male,"Python, Excel",NaN,90000,Health Insurance,Full remote,Startup
32,2023-10-03 08:13:15.755,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FinTech,Male,"Python, SQL, R, Tableau, Google Data Studio, E...",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
33,2023-10-02 16:50:42.259,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"Tableau, Power BI, Excel",NaN,65000,Bonus,Full Office,Established
34,2023-10-02 16:37:27.541,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,IT,Female,"SQL, Excel, Google Sheets",NaN,62000,"Health Insurance, Pension",Full Office,Established
35,2023-10-02 16:59:09.320,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Media,Female,"SQL, Power BI, Excel, Google Sheets",NaN,60000,Health Insurance,Full Office,Established
36,2023-10-02 16:52:06.502,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Insurance broker,Female,"Power BI, Excel",NaN,55000,"Health Insurance, Pension, Bonus",Full Office,Established
37,2023-10-02 16:29:47.763,Other,data officer,Junior eg Junior Data Analyst,Beginner,health,Male,Python,NaN,50000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
38,2023-10-02 16:51:16.385,Data Analyst,NaN,Senior Level eg Senior Data Analyst,3yrs-5yrs,Fintech,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,40000,Health Insurance,Full Office,Established
39,2023-10-02 18:15:17.009,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Education,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,40000,Health Insurance,Full remote,Established
40,2023-10-02 23:51:22.904,Data Analyst,NaN,Intern,Beginner,Sustainable energy,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,35000,"Health Insurance, Pension, Other Company speci...",Hybrid-I choose my days to go the office,Established
41,2023-10-02 16:30:52.279,Other,community manager,Manager eg Manager of Analytics,Beginner,Edtech,Female,"Python, SQL, Power BI, Google Sheets",NaN,30000,Bonus,Hybrid- I need to be in the office specific da...,Startup
42,2023-10-02 16:34:41.729,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Fintech,Female,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,30000,Health Insurance,Hybrid-I choose my days to go the office,Established
43,2023-10-02 16:35:53.968,Data Engineer,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FinTech,Female,"SQL, Excel, Google Sheets",NaN,30000,Monthly Vouchers,Full Office,Startup
44,2023-10-02 19:01:40.410,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Solar,Female,Excel,NaN,27000,Other Company specific Perks not listed above,Full Office,Established
45,2023-10-02 20:14:13.864,Data Analyst,NaN,Intern,Beginner,Fast Moving Consumer Goods,Male,"SQL, R, Tableau, Excel, Google Sheets",NaN,25000,Mobile Credit Top-up,Full Office,Startup
46,2023-10-02 17:22:37.192,Data Analyst,NaN,Junior eg Junior Data Analyst,3yrs-5yrs,People and Technology,Female,Other,Company provided,15000,Other Company specific Perks not listed above,Full remote,Established
47,2023-10-02 16:27:34.342,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Engineering,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,5000,Bonus,Full remote,Startup
48,2023-10-02 16:55:22.194,Data Scientist,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Agriculture,Female,"Python, Tableau, Power BI, Excel, Google Sheets",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
49,2023-10-03 18:47:17.404,Other,Data Manager,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"R, Power BI, Excel, Google Sheets, Other",STATA,100000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
50,2023-10-04 10:15:41.972,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
51,2023-10-04 10:47:29.671,Other,HRM,Manager eg Manager of Analytics,Over 5 Yrs,FMCG,Male,Excel,NaN,93000,"Health Insurance, Mobile Credit Top-up, Other ...",Full Office,Startup
52,2023-10-04 11:10:43.573,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Energy,Male,Python,NaN,160000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
53,2023-10-04 11:21:58.094,Data Scientist,NaN,Junior eg Junior Data Analyst,Beginner,Health,Male,Python,NaN,500$,Health Insurance,Full Office,Startup
54,2023-10-04 11:26:09.622,Other,Business Intelligence Analyst,Mid-Level eg Data Analyst,1yr-2yrs,Automotive Industry,Female,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,75000,"Health Insurance, Equity, Bonus",Hybrid- I need to be in the office specific da...,Startup
55,2023-10-04 11:30:07.802,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Development - INGO,Female,"Power BI, Excel",NaN,300000,"Health Insurance, Pension, Mobile Phone, Mobil...",Full remote,Established
56,2023-10-04 12:39:25.219,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Financial,Female,"Power BI, Excel",NaN,90000,Health Insurance,Full Office,Established
57,2023-10-04 14:06:29.400,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech and IT,Female,"Python, SQL, Power BI, Excel",NaN,266000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
58,2023-10-04 14:20:46.318,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Market Research,Female,SAS/SPSS,NaN,85000,"Health Insurance, Pension",Hybrid- I need to be in the office specific da...,Established
59,2023-10-05 07:26:24.500,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FMCG,Female,"SQL, Power BI, Excel",NaN,160000,Health Insurance,Full Office,Established
60,2023-10-05 18:13:54.728,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Logistics,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",Plotly,80000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
61,2023-10-05 21:10:10.085,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Telecommunications,Female,"Python, SQL, Power BI, Other",Power Automate,190000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
62,2023-10-06 11:22:13.868,Data Analyst,NaN,Intern,1yr-2yrs,HR,Male,"SQL, Tableau, Power BI, Excel",NaN,250000,Other Company specific Perks not listed above,Full Office,Established
63,2023-10-07 17:09:44.621,Other,CX analyst,Mid-Level eg Data Analyst,1yr-2yrs,Banking,Female,"SQL, Excel",NaN,109775,"Health Insurance, Pension",Full Office,Established
64,2023-10-08 07:59:56.452,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"Python, SQL, R, Power BI, Excel, Other",G-Smart,50000,"Health Insurance, Pension",Full Office,Established
65,2023-10-09 18:13:03.822,Other,Research Assistant,Mid-Level eg Data Analyst,3yrs-5yrs,Environment Conservancy,Female,Excel,NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full remote,Established
66,2023-10-09 19:45:53.510,Other,fulfilment supervisor,Junior eg Junior Data Analyst,Beginner,supply chain,Female,SQL,NaN,80000,Health Insurance,Full Office,Established
67,2023-10-12 10:40:38.317,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Non Profit Organization,Male,"SAS/SPSS, Power BI, Excel, Google Sheets",NaN,70000,"Health Insurance, Pension",Full Office,Established
68,2023-10-12 14:19:59.867,Data Analyst,Rating Analyst,Junior eg Junior Data Analyst,3yrs-5yrs,Business Information and Credit Management,Male,SQL,NaN,50000,Health Insurance,Hybrid-I choose my days to go the office,Established
69,2023-10-13 19:08:38.508,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,NGO,Male,"Power BI, Excel",NaN,100000,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Established
70,2023-10-13 19:09:54.693,Other,Finance Manager,Intern,Beginner,Fintech,Female,"Python, SQL, SAS/SPSS, Tableau, Power BI, Micr...",NaN,60000,Mobile Credit Top-up,Full Office,Startup
71,2023-10-13 19:10:09.838,Other,Business intelligence analyst,Mid-Level eg Data Analyst,1yr-2yrs,Health,Female,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,90000,"Health Insurance, Pension, Bonus",Hybrid- I need to be in the office specific da...,Startup
72,2023-10-13 19:10:22.107,Data Scientist,NaN,Intern,Beginner,School,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,0,Other Company specific Perks not listed above,Full remote,Established
73,2023-10-13 19:10:55.183,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Marketing,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,"15,000/-",Mobile Credit Top-up,Full Office,Startup
74,2023-10-13 19:19:41.144,Data Scientist,NaN,Intern,Beginner,Research/Education,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,NaN,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Established
75,2023-10-13 19:23:04.348,Data Analyst,NaN,Intern,Beginner,Professional Body,Female,"SQL, Power BI, Excel, Google Sheets",NaN,NaN,Other Company specific Perks not listed above,Full Office,Startup
76,2023-10-16 20:11:20.969,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Artificial Intelligence,Male,"SQL, Google Data Studio, Google Sheets",NaN,62000,"Health Insurance, Bonus",Full Office,Established
77,2023-10-17 13:48:41.106,Other,Sales Executive,Mid-Level eg Data Analyst,1yr-2yrs,FMCG,Female,"Power BI, Excel",NaN,60000,Health Insurance,Full Office,Established
78,2024-01-03 08:38:29.890,Other,Risk Data Analyst,Mid-Level eg Data Analyst,1yr-2yrs,Fintech,Female,"SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension, Bonus",Full Office,Startup
79,2024-01-07 21:33:48.969,Data Scientist,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Fintech,Male,"Python, SQL, R",NaN,38000,Bonus,Full Office,Established
80,2024-03-13 08:06:07.246,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"R, Power BI, Google Sheets, Other",STATA,115000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
81,2024-03-13 08:07:04.622,Data Analyst,NaN,Intern,Beginner,Research,Male,"Python, SQL, SAS/SPSS, Power BI, Excel",NaN,0,Other Company specific Perks not listed above,Full remote,Startup
82,2024-03-13 08:07:25.019,Other,Data Analyst,Junior eg Junior Data Analyst,1yr-2yrs,Finance,Male,"Python, SQL, Power BI, Excel",NaN,116000,"Health Insurance, Pension, Bonus",Hybrid- I need to be in the office specific da...,Established
83,2024-03-13 08:07:56.417,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Government- taxation,Female,"Python, SQL, Excel",NaN,177000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
84,2024-03-13 08:09:03.044,Data Scientist,NaN,Intern,Beginner,Health,Male,"Python, SQL, Tableau, Excel",NaN,35000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
85,2024-03-13 08:12:31.090,Other,Performance Analyst,Mid-Level eg Data Analyst,3yrs-5yrs,Bank,Male,"SQL, Excel",NaN,97000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
86,2024-03-13 08:14:18.919,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Technology and Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,170000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
87,2024-03-13 08:15:43.322,Data Analyst,NaN,Intern,1yr-2yrs,Non-profit,Male,"SQL, SAS/SPSS, Power BI, Excel",NaN,21000,"Health Insurance, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
88,2024-03-13 08:16:27.033,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Agriculture,Female,"Python, Power BI, Excel",NaN,130000,Other Company specific Perks not listed above,Full Office,Established
89,2024-03-13 08:23:18.554,Other,Financial analyst,Intern,1yr-2yrs,Finance - Pensions,Female,"Python, Excel, Google Sheets",NaN,25000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
90,2024-03-13 08:23:34.655,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,IT,Female,"SQL, Power BI, Excel",NaN,40000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
91,2024-03-13 08:23:54.115,Data Analyst,NaN,Junior eg Junior Data Analyst,Over 5 Yrs,Utilities,Female,Python,NaN,150000,"Health Insurance, Pension",Full Office,Established
92,2024-03-13 08:25:52.205,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Telecommunications,Female,"Python, SQL, Tableau, Power BI, Excel",NaN,140000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-I choose my days to go the office,Established

In [13]:
#Dropping Duplicates
df=df.drop_duplicates()

In [14]:
#Renaming Columns
df= df.rename(columns= { "What is your Current Role?":"Role",
                     "If other, please indicate your role here":"Other_Role",
                     "What is your Level?":"Level",
                    "How many years of experience do you have in the data Field?":"Years_of_Experience",
                    "What industry is  your Employer? eg Fintech, Utilities, HR, Gaming, Health etc.":"Industry",
                    "What is your gender":"Gender",
                    "What is your main Tech stack?":"Stack",
                    "If other, please indicate your tool stack here":"Other_Stack",
                    "What is your monthly Gross Salary in Kes per month?":"Salary",
                    "Any other benefits?":"Other_Benefit",
                    "What is your work setup?":"Work_Setup",
                    "Employer Type":"Employer_Type"
        })
df

,Timestamp,Role,Other_Role,Level,Years_of_Experience,Industry,Gender,Stack,Other_Stack,Salary,Other_Benefit,Work_Setup,Employer_Type
0,2023-10-02 20:02:52.903,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Education,Female,"Python, SQL, SAS/SPSS, Tableau, Excel",NaN,NaN,Other Company specific Perks not listed above,Full remote,Startup
1,2023-10-02 16:41:24.075,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Fintech,Female,"Python, SQL, Excel",NaN,187000,"Health Insurance, Pension, Mobile Phone",Full remote,Established
2,2023-10-02 19:24:44.676,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Health,Female,"Power BI, Excel",NaN,190000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
3,2023-10-02 16:42:03.054,Data Analyst,NaN,Intern,Beginner,Education,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Bonus,Full remote,Startup
4,2023-10-02 17:59:30.959,Data Analyst,NaN,Intern,Beginner,Azubi Africa,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,00,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
5,2023-10-02 18:00:46.645,Data Analyst,NaN,Intern,Beginner,Azubi Africa,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,00,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
6,2023-10-03 10:25:35.148,Other,Academic Director,Manager eg Manager of Analytics,Over 7 Yrs,Education,Female,Excel,NaN,500000,Health Insurance,Full Office,Established
7,2023-10-02 18:33:15.548,Other,Data Manager (Digital),Mid-Level eg Data Analyst,1yr-2yrs,NGO,Male,"Python, R, Power BI, Google Data Studio, Excel...",NaN,375000,"Health Insurance, Mobile Credit Top-up",Hybrid-I choose my days to go the office,Established
8,2023-10-02 17:19:13.565,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech,Male,"Python, SQL, Microsoft Azure",NaN,335000,"Health Insurance, Mobile Credit Top-up, Bonus",Full remote,Established
9,2023-10-03 14:29:35.245,Data Analyst,NaN,Manager eg Manager of Analytics,Over 5 Yrs,Telecommunications,Female,"Python, SQL, Power BI, Excel",NaN,310000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
10,2023-10-02 16:32:13.149,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Banking,Male,"Python, SQL, Other","Aws, Apache Spark, dbt etc",280000,"Health Insurance, Pension, Other Company speci...",Hybrid- I need to be in the office specific da...,Established
11,2023-10-02 16:41:37.930,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Socio-economic Development,Female,"R, Power BI, Excel",NaN,230000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
12,2023-10-02 17:04:29.770,Data Analyst,NaN,Senior Level eg Senior Data Analyst,Over 7 Yrs,Telco,Male,"Python, SQL, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
13,2023-10-02 18:17:00.456,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,NGO,Male,"Python, Tableau, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-I choose my days to go the office,Established
14,2023-10-02 18:48:44.734,Data Analyst,NaN,Senior Level eg Senior Data Analyst,3yrs-5yrs,machine learning,Male,"SQL, Google Sheets",NaN,200000,Bonus,Full Office,Established
15,2023-10-03 07:51:27.813,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Retail,Female,"Excel, Google Sheets, Other",Metabase,200000,"Health Insurance, Stocks, Mobile Credit Top-up",Full Office,Startup
16,2023-10-02 17:32:13.415,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Government,Female,"Python, SQL, Power BI, Excel",NaN,177000,"Health Insurance, Pension",Full Office,Established
17,2023-10-02 16:27:09.316,Data Analyst,NaN,Mid-Level eg Data Analyst,Over 5 Yrs,Utilities,Male,"R, Power BI, Excel",NaN,166000,"Health Insurance, Pension",Full Office,Established
18,2023-10-02 17:29:16.917,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Fintech,Female,"Python, SQL, Power BI, Excel",NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
19,2023-10-02 16:45:31.548,Data Analyst,Manufacturing,Lead eg Lead Analyst,3yrs-5yrs,Manufacturing,Male,"SQL, Power BI, Excel, Google Sheets",NaN,155000,"Health Insurance, Mobile Credit Top-up, Bonus",Full Office,Startup
20,2023-10-02 22:19:55.273,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,155000,"Health Insurance, Pension, Bonus",Full remote,Established
21,2023-10-02 16:47:00.248,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,SAAS(Foodtech),Female,"Python, SQL, Tableau, Excel, Google Sheets, Other",DBT,150000,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Startup
22,2023-10-03 08:52:29.380,Other,Human Resources Manager,Manager eg Manager of Analytics,Over 7 Yrs,Religious,Female,Other,Microsoft office,150000,Health Insurance,Full Office,Established
23,2023-10-02 16:30:37.577,Other,Monitoring & Evaluation,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"Power BI, Excel, Google Sheets",NaN,125000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-I choose my days to go the office,Established
24,2023-10-02 16:38:30.896,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech,Female,"Python, SQL, R, Microsoft Azure, Excel",NaN,120000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
25,2023-10-02 16:26:15.098,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Professional Services (Accounting),Female,"Python, Power BI, Excel",NaN,109000,"Health Insurance, Pension, Bonus",Hybrid-I choose my days to go the office,Established
26,2023-10-02 19:03:57.454,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"SQL, Tableau, Power BI, Excel, Google Sheets",NaN,105000,"Health Insurance, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
27,2023-10-02 18:35:30.604,Data Analyst,Advisory,Junior eg Junior Data Analyst,1yr-2yrs,Consulting,Male,"SQL, Power BI, Excel, Other",Alteryx,100000,Health Insurance,Hybrid- I need to be in the office specific da...,Established
28,2023-10-02 16:45:37.936,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Bank,Male,"Power BI, Excel",NaN,97200,"Pension, Mobile Credit Top-up",Full Office,Established
29,2023-10-02 16:53:42.207,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Banking,Female,"SQL, Excel, Google Sheets, Other",QlikSense,95000,"Health Insurance, Pension",Full Office,Established
30,2023-10-02 18:27:20.248,Other,Data Mangement Associate,Junior eg Junior Data Analyst,3yrs-5yrs,Health,Male,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,92000,"Health Insurance, Pension, Bonus",Full Office,Established
31,2023-10-02 16:39:50.981,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Utilities,Male,"Python, Excel",NaN,90000,Health Insurance,Full remote,Startup
32,2023-10-03 08:13:15.755,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FinTech,Male,"Python, SQL, R, Tableau, Google Data Studio, E...",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
33,2023-10-02 16:50:42.259,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"Tableau, Power BI, Excel",NaN,65000,Bonus,Full Office,Established
34,2023-10-02 16:37:27.541,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,IT,Female,"SQL, Excel, Google Sheets",NaN,62000,"Health Insurance, Pension",Full Office,Established
35,2023-10-02 16:59:09.320,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Media,Female,"SQL, Power BI, Excel, Google Sheets",NaN,60000,Health Insurance,Full Office,Established
36,2023-10-02 16:52:06.502,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Insurance broker,Female,"Power BI, Excel",NaN,55000,"Health Insurance, Pension, Bonus",Full Office,Established
37,2023-10-02 16:29:47.763,Other,data officer,Junior eg Junior Data Analyst,Beginner,health,Male,Python,NaN,50000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
38,2023-10-02 16:51:16.385,Data Analyst,NaN,Senior Level eg Senior Data Analyst,3yrs-5yrs,Fintech,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,40000,Health Insurance,Full Office,Established
39,2023-10-02 18:15:17.009,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Education,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,40000,Health Insurance,Full remote,Established
40,2023-10-02 23:51:22.904,Data Analyst,NaN,Intern,Beginner,Sustainable energy,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,35000,"Health Insurance, Pension, Other Company speci...",Hybrid-I choose my days to go the office,Established
41,2023-10-02 16:30:52.279,Other,community manager,Manager eg Manager of Analytics,Beginner,Edtech,Female,"Python, SQL, Power BI, Google Sheets",NaN,30000,Bonus,Hybrid- I need to be in the office specific da...,Startup
42,2023-10-02 16:34:41.729,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Fintech,Female,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,30000,Health Insurance,Hybrid-I choose my days to go the office,Established
43,2023-10-02 16:35:53.968,Data Engineer,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FinTech,Female,"SQL, Excel, Google Sheets",NaN,30000,Monthly Vouchers,Full Office,Startup
44,2023-10-02 19:01:40.410,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Solar,Female,Excel,NaN,27000,Other Company specific Perks not listed above,Full Office,Established
45,2023-10-02 20:14:13.864,Data Analyst,NaN,Intern,Beginner,Fast Moving Consumer Goods,Male,"SQL, R, Tableau, Excel, Google Sheets",NaN,25000,Mobile Credit Top-up,Full Office,Startup
46,2023-10-02 17:22:37.192,Data Analyst,NaN,Junior eg Junior Data Analyst,3yrs-5yrs,People and Technology,Female,Other,Company provided,15000,Other Company specific Perks not listed above,Full remote,Established
47,2023-10-02 16:27:34.342,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Engineering,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,5000,Bonus,Full remote,Startup
48,2023-10-02 16:55:22.194,Data Scientist,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Agriculture,Female,"Python, Tableau, Power BI, Excel, Google Sheets",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
49,2023-10-03 18:47:17.404,Other,Data Manager,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"R, Power BI, Excel, Google Sheets, Other",STATA,100000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
50,2023-10-04 10:15:41.972,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
51,2023-10-04 10:47:29.671,Other,HRM,Manager eg Manager of Analytics,Over 5 Yrs,FMCG,Male,Excel,NaN,93000,"Health Insurance, Mobile Credit Top-up, Other ...",Full Office,Startup
52,2023-10-04 11:10:43.573,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Energy,Male,Python,NaN,160000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
53,2023-10-04 11:21:58.094,Data Scientist,NaN,Junior eg Junior Data Analyst,Beginner,Health,Male,Python,NaN,500$,Health Insurance,Full Office,Startup
54,2023-10-04 11:26:09.622,Other,Business Intelligence Analyst,Mid-Level eg Data Analyst,1yr-2yrs,Automotive Industry,Female,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,75000,"Health Insurance, Equity, Bonus",Hybrid- I need to be in the office specific da...,Startup
55,2023-10-04 11:30:07.802,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Development - INGO,Female,"Power BI, Excel",NaN,300000,"Health Insurance, Pension, Mobile Phone, Mobil...",Full remote,Established
56,2023-10-04 12:39:25.219,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Financial,Female,"Power BI, Excel",NaN,90000,Health Insurance,Full Office,Established
57,2023-10-04 14:06:29.400,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Fintech and IT,Female,"Python, SQL, Power BI, Excel",NaN,266000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
58,2023-10-04 14:20:46.318,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Market Research,Female,SAS/SPSS,NaN,85000,"Health Insurance, Pension",Hybrid- I need to be in the office specific da...,Established
59,2023-10-05 07:26:24.500,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,FMCG,Female,"SQL, Power BI, Excel",NaN,160000,Health Insurance,Full Office,Established
60,2023-10-05 18:13:54.728,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Logistics,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",Plotly,80000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
61,2023-10-05 21:10:10.085,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Telecommunications,Female,"Python, SQL, Power BI, Other",Power Automate,190000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid- I need to be in the office specific da...,Established
62,2023-10-06 11:22:13.868,Data Analyst,NaN,Intern,1yr-2yrs,HR,Male,"SQL, Tableau, Power BI, Excel",NaN,250000,Other Company specific Perks not listed above,Full Office,Established
63,2023-10-07 17:09:44.621,Other,CX analyst,Mid-Level eg Data Analyst,1yr-2yrs,Banking,Female,"SQL, Excel",NaN,109775,"Health Insurance, Pension",Full Office,Established
64,2023-10-08 07:59:56.452,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,FMCG,Male,"Python, SQL, R, Power BI, Excel, Other",G-Smart,50000,"Health Insurance, Pension",Full Office,Established
65,2023-10-09 18:13:03.822,Other,Research Assistant,Mid-Level eg Data Analyst,3yrs-5yrs,Environment Conservancy,Female,Excel,NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full remote,Established
66,2023-10-09 19:45:53.510,Other,fulfilment supervisor,Junior eg Junior Data Analyst,Beginner,supply chain,Female,SQL,NaN,80000,Health Insurance,Full Office,Established
67,2023-10-12 10:40:38.317,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Non Profit Organization,Male,"SAS/SPSS, Power BI, Excel, Google Sheets",NaN,70000,"Health Insurance, Pension",Full Office,Established
68,2023-10-12 14:19:59.867,Data Analyst,Rating Analyst,Junior eg Junior Data Analyst,3yrs-5yrs,Business Information and Credit Management,Male,SQL,NaN,50000,Health Insurance,Hybrid-I choose my days to go the office,Established
69,2023-10-13 19:08:38.508,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,NGO,Male,"Power BI, Excel",NaN,100000,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Established
70,2023-10-13 19:09:54.693,Other,Finance Manager,Intern,Beginner,Fintech,Female,"Python, SQL, SAS/SPSS, Tableau, Power BI, Micr...",NaN,60000,Mobile Credit Top-up,Full Office,Startup
71,2023-10-13 19:10:09.838,Other,Business intelligence analyst,Mid-Level eg Data Analyst,1yr-2yrs,Health,Female,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,90000,"Health Insurance, Pension, Bonus",Hybrid- I need to be in the office specific da...,Startup
72,2023-10-13 19:10:22.107,Data Scientist,NaN,Intern,Beginner,School,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,0,Other Company specific Perks not listed above,Full remote,Established
73,2023-10-13 19:10:55.183,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,Marketing,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,"15,000/-",Mobile Credit Top-up,Full Office,Startup
74,2023-10-13 19:19:41.144,Data Scientist,NaN,Intern,Beginner,Research/Education,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,NaN,Other Company specific Perks not listed above,Hybrid-I choose my days to go the office,Established
75,2023-10-13 19:23:04.348,Data Analyst,NaN,Intern,Beginner,Professional Body,Female,"SQL, Power BI, Excel, Google Sheets",NaN,NaN,Other Company specific Perks not listed above,Full Office,Startup
76,2023-10-16 20:11:20.969,Data Analyst,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Artificial Intelligence,Male,"SQL, Google Data Studio, Google Sheets",NaN,62000,"Health Insurance, Bonus",Full Office,Established
77,2023-10-17 13:48:41.106,Other,Sales Executive,Mid-Level eg Data Analyst,1yr-2yrs,FMCG,Female,"Power BI, Excel",NaN,60000,Health Insurance,Full Office,Established
78,2024-01-03 08:38:29.890,Other,Risk Data Analyst,Mid-Level eg Data Analyst,1yr-2yrs,Fintech,Female,"SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension, Bonus",Full Office,Startup
79,2024-01-07 21:33:48.969,Data Scientist,NaN,Junior eg Junior Data Analyst,1yr-2yrs,Fintech,Male,"Python, SQL, R",NaN,38000,Bonus,Full Office,Established
80,2024-03-13 08:06:07.246,Data Analyst,NaN,Junior eg Junior Data Analyst,1yr-2yrs,NGO,Female,"R, Power BI, Google Sheets, Other",STATA,115000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-I choose my days to go the office,Established
81,2024-03-13 08:07:04.622,Data Analyst,NaN,Intern,Beginner,Research,Male,"Python, SQL, SAS/SPSS, Power BI, Excel",NaN,0,Other Company specific Perks not listed above,Full remote,Startup
82,2024-03-13 08:07:25.019,Other,Data Analyst,Junior eg Junior Data Analyst,1yr-2yrs,Finance,Male,"Python, SQL, Power BI, Excel",NaN,116000,"Health Insurance, Pension, Bonus",Hybrid- I need to be in the office specific da...,Established
83,2024-03-13 08:07:56.417,Data Analyst,NaN,Mid-Level eg Data Analyst,1yr-2yrs,Government- taxation,Female,"Python, SQL, Excel",NaN,177000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
84,2024-03-13 08:09:03.044,Data Scientist,NaN,Intern,Beginner,Health,Male,"Python, SQL, Tableau, Excel",NaN,35000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
85,2024-03-13 08:12:31.090,Other,Performance Analyst,Mid-Level eg Data Analyst,3yrs-5yrs,Bank,Male,"SQL, Excel",NaN,97000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
86,2024-03-13 08:14:18.919,Data Engineer,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Technology and Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,170000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
87,2024-03-13 08:15:43.322,Data Analyst,NaN,Intern,1yr-2yrs,Non-profit,Male,"SQL, SAS/SPSS, Power BI, Excel",NaN,21000,"Health Insurance, Mobile Credit Top-up",Hybrid- I need to be in the office specific da...,Established
88,2024-03-13 08:16:27.033,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Agriculture,Female,"Python, Power BI, Excel",NaN,130000,Other Company specific Perks not listed above,Full Office,Established
89,2024-03-13 08:23:18.554,Other,Financial analyst,Intern,1yr-2yrs,Finance - Pensions,Female,"Python, Excel, Google Sheets",NaN,25000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
90,2024-03-13 08:23:34.655,Data Analyst,NaN,Junior eg Junior Data Analyst,Beginner,IT,Female,"SQL, Power BI, Excel",NaN,40000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
91,2024-03-13 08:23:54.115,Data Analyst,NaN,Junior eg Junior Data Analyst,Over 5 Yrs,Utilities,Female,Python,NaN,150000,"Health Insurance, Pension",Full Office,Established
92,2024-03-13 08:25:52.205,Data Scientist,NaN,Mid-Level eg Data Analyst,3yrs-5yrs,Telecommunications,Female,"Python, SQL, Tableau, Power BI, Excel",NaN,140000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-I choose my days to go the office,Established
93,2024-03-13 08:31:11.724,Data Analyst,NaN,Junior eg Junior Data Analyst,3yrs-5yrs,Health,Female,"R, Excel",NaN,"112,000KES","Health Insurance, Mobile Credit Top-up",Full Office,Established

In [15]:
df.isnull().any()

Timestamp              False
Role                   False
Other_Role              True
Level                  False
Years_of_Experience    False
Industry                True
Gender                 False
Stack                  False
Other_Stack             True
Salary                  True
Other_Benefit          False
Work_Setup             False
Employer_Type          False
dtype: bool

In [16]:
df["Industry"]=df["Industry"].str.strip()
df["Industry"]

0                                              Education
1                                                Fintech
2                                                 Health
3                                              Education
4                                           Azubi Africa
5                                           Azubi Africa
6                                              Education
7                                                    NGO
8                                                Fintech
9                                     Telecommunications
10                                               Banking
11                            Socio-economic Development
12                                                 Telco
13                                                   NGO
14                                      machine learning
15                                                Retail
16                                            Government
17                                             Utilities
18                                               Fintech
19                                         Manufacturing
20                                    Telecommunications
21                                        SAAS(Foodtech)
22                                             Religious
23                                                   NGO
24                                               Fintech
25                    Professional Services (Accounting)
26                                                  FMCG
27                                            Consulting
28                                                  Bank
29                                               Banking
30                                                Health
31                                             Utilities
32                                               FinTech
33                                                  FMCG
34                                                    IT
35                                                 Media
36                                      Insurance broker
37                                                health
38                                               Fintech
39                                             Education
40                                    Sustainable energy
41                                                Edtech
42                                               Fintech
43                                               FinTech
44                                                 Solar
45                            Fast Moving Consumer Goods
46                                 People and Technology
47                                           Engineering
48                                           Agriculture
49                                                   NGO
50                                                Health
51                                                  FMCG
52                                                Energy
53                                                Health
54                                   Automotive Industry
55                                    Development - INGO
56                                             Financial
57                                        Fintech and IT
58                                       Market Research
59                                                  FMCG
60                                             Logistics
61                                    Telecommunications
62                                                    HR
63                                               Banking
64                                                  FMCG
65                               Environment Conservancy
66                                          supply chain
67                               Non Profit Organization
68            Business Information and Credit Management
69                                                   NGO
70                                               Fintech
71                                                Health
72                                                School
73                                             Marketing
74                                    Research/Education
75                                     Professional Body
76                               Artificial Intelligence
77                                                  FMCG
78                                               Fintech
79                                               Fintech
80                                                   NGO
81                                              Research
82                                               Finance
83                                  Government- taxation
84                                                Health
85                                                  Bank
86                     Technology and Telecommunications
87                                            Non-profit
88                                           Agriculture
89                                    Finance - Pensions
90                                                    IT
91                                             Utilities
92                                    Telecommunications
93                                                Health
94                                                Retail
95                                               Banking
96                                                 Media
97                                       Market research
98                                                Gaming
99                                                Health
100                                               Health
101                                           Consulting
102                                               Health
103                                                 Fmcg
104                                              Fintech
105                                                Media
106                                               Healtg
107    Analytics->I work for a company in Europe not ...
108                              Consumer tech and media
109                                            Utilities
110                                      FMCG consulting
111                                           Non Profit
112                                         Conservation
113                                              Finance
114                                              FinTech
115                                                 FMCG
116                                              Fintech
117                                       Graphic design
118                                 Wholesale and Retail
119                                           E-commerce
120                                              Fintech
121                                                   HR
122                                            eMOBILITY
123                                      Still searching
124                                           E-commerce
125                                               Health
126                                                  ERP
127                                                  ERP
128                                                 FMCG
129                                           Non Profit
130                                              Fintech
131                                              Fintech
132                                                 Nill
133                                              Banking
134                               Pension Administration
135                                              Fintech
136                                                   IT
137                                            Insurance
138                                        Manufacturing
139                                              Finance
140                                               health
141                                               School
142                                           Government
143                                    Urban development
144                                                  NGO
145                                          Agriculture
146                                                  NaN
147                                               Health
148                                           Consulting
149                                               Retail
150                                               Retail
151                                                  Nil
152                                                Power
153                                             Finetech
154                                               Retail
155                                              Fintech
156                                              Fintech
157                                            Education
158                                          Consultancy
159                                               Retail
160                                                Media
161                                           Government
162                                            Education
163                                              Fintech
164                                               Health
165                                            Insurance
166                                             Personal
167                                                  NaN
168                                                  AID
169                                Production and Retail
170                                             Taxation
171                                               Health
172                                 Manufacturing (FMCG)
Name: Industry, dtype: object

In [17]:
#Cleaning "Industry" Column- Correcting spelling and grouping the data
df["Industry"]=df["Industry"].replace("Nil","None")
df["Industry"]=df["Industry"].replace("machine learning","Machine Learning")
df["Industry"]=df["Industry"].replace("Professional Services (Accounting)","Accounting")
df["Industry"]=df["Industry"].replace("Fintech","FinTech")
df["Industry"]=df["Industry"].replace("Fast Moving Consumer Goods","FMCG")
df["Industry"]=df["Industry"].replace("Development - INGO","NGO")
df["Industry"]=df["Industry"].replace("Finance - Pensions","Finance")
df["Industry"]=df["Industry"].replace("Fmcg","FMCG")
df["Industry"]=df["Industry"].replace("Healtg","Health")
df["Industry"]=df["Industry"].replace("Analytics->I work for a company in Europe not Kenya","Analytics")
df["Industry"]=df["Industry"].replace("Still searching","None")
df["Industry"]=df["Industry"].replace("health","Health")
df["Industry"]=df["Industry"].replace("Finetech","FinTech")
df["Industry"]=df["Industry"].replace("Manufacturing (FMCG)","FMCG")
df["Industry"]=df["Industry"].replace("Azubi Africa","Analytics")
df["Industry"]=df["Industry"].replace("SAAS(Foodtech)","SAAS")
df["Industry"]=df["Industry"].replace("Telco","Telecommunications")
df["Industry"]=df["Industry"].replace("Government- taxation","Government")
df["Industry"]=df["Industry"].replace("Technology and Telecommunications","Telecommunications")
df["Industry"]=df["Industry"].replace("Bank","Banking")
df["Industry"]=df["Industry"].replace("Sustainable energy","Energy")
df["Industry"]=df["Industry"].replace("People and Technology","Technology")
df["Industry"]=df["Industry"].replace("Market research","Research")
df["Industry"]=df["Industry"].replace("Consumer tech and media","Media")
df["Industry"]=df["Industry"].replace("Wholesale and Retail","Retail")
df["Industry"]=df["Industry"].replace("Production and Retail","Retail")
df["Industry"]=df["Industry"].replace("FMCG consulting","FMCG")
df["Industry"]

0                                       Education
1                                         FinTech
2                                          Health
3                                       Education
4                                       Analytics
5                                       Analytics
6                                       Education
7                                             NGO
8                                         FinTech
9                              Telecommunications
10                                        Banking
11                     Socio-economic Development
12                             Telecommunications
13                                            NGO
14                               Machine Learning
15                                         Retail
16                                     Government
17                                      Utilities
18                                        FinTech
19                                  Manufacturing
20                             Telecommunications
21                                           SAAS
22                                      Religious
23                                            NGO
24                                        FinTech
25                                     Accounting
26                                           FMCG
27                                     Consulting
28                                        Banking
29                                        Banking
30                                         Health
31                                      Utilities
32                                        FinTech
33                                           FMCG
34                                             IT
35                                          Media
36                               Insurance broker
37                                         Health
38                                        FinTech
39                                      Education
40                                         Energy
41                                         Edtech
42                                        FinTech
43                                        FinTech
44                                          Solar
45                                           FMCG
46                                     Technology
47                                    Engineering
48                                    Agriculture
49                                            NGO
50                                         Health
51                                           FMCG
52                                         Energy
53                                         Health
54                            Automotive Industry
55                                            NGO
56                                      Financial
57                                 Fintech and IT
58                                Market Research
59                                           FMCG
60                                      Logistics
61                             Telecommunications
62                                             HR
63                                        Banking
64                                           FMCG
65                        Environment Conservancy
66                                   supply chain
67                        Non Profit Organization
68     Business Information and Credit Management
69                                            NGO
70                                        FinTech
71                                         Health
72                                         School
73                                      Marketing
74                             Research/Education
75                              Professional Body
76                        Artificial Intelligence
77                                           FMCG
78                                        FinTech
79                                        FinTech
80                                            NGO
81                                       Research
82                                        Finance
83                                     Government
84                                         Health
85                                        Banking
86                             Telecommunications
87                                     Non-profit
88                                    Agriculture
89                                        Finance
90                                             IT
91                                      Utilities
92                             Telecommunications
93                                         Health
94                                         Retail
95                                        Banking
96                                          Media
97                                       Research
98                                         Gaming
99                                         Health
100                                        Health
101                                    Consulting
102                                        Health
103                                          FMCG
104                                       FinTech
105                                         Media
106                                        Health
107                                     Analytics
108                                         Media
109                                     Utilities
110                                          FMCG
111                                    Non Profit
112                                  Conservation
113                                       Finance
114                                       FinTech
115                                          FMCG
116                                       FinTech
117                                Graphic design
118                                        Retail
119                                    E-commerce
120                                       FinTech
121                                            HR
122                                     eMOBILITY
123                                          None
124                                    E-commerce
125                                        Health
126                                           ERP
127                                           ERP
128                                          FMCG
129                                    Non Profit
130                                       FinTech
131                                       FinTech
132                                          Nill
133                                       Banking
134                        Pension Administration
135                                       FinTech
136                                            IT
137                                     Insurance
138                                 Manufacturing
139                                       Finance
140                                        Health
141                                        School
142                                    Government
143                             Urban development
144                                           NGO
145                                   Agriculture
146                                           NaN
147                                        Health
148                                    Consulting
149                                        Retail
150                                        Retail
151                                          None
152                                         Power
153                                       FinTech
154                                        Retail
155                                       FinTech
156                                       FinTech
157                                     Education
158                                   Consultancy
159                                        Retail
160                                         Media
161                                    Government
162                                     Education
163                                       FinTech
164                                        Health
165                                     Insurance
166                                      Personal
167                                           NaN
168                                           AID
169                                        Retail
170                                      Taxation
171                                        Health
172                                          FMCG
Name: Industry, dtype: object

In [18]:
df["Level"]=df["Level"].str.strip()
df["Level"]= df["Level"].replace("Mid-Level  eg Data Analyst","Mid-Level")
df["Level"]= df["Level"].replace("Junior  eg Junior Data Analyst","Junior")
df["Level"]= df["Level"].replace("Manager eg Manager of Analytics","Manager")
df["Level"]= df["Level"].replace("Senior Level  eg Senior Data Analyst","Senior")
df["Level"]= df["Level"].replace("Lead eg Lead Analyst","Lead")
df["Level"]

0      Mid-Level
1         Junior
2         Junior
3         Intern
4         Intern
5         Intern
6        Manager
7      Mid-Level
8      Mid-Level
9        Manager
10     Mid-Level
11     Mid-Level
12        Senior
13     Mid-Level
14        Senior
15     Mid-Level
16     Mid-Level
17     Mid-Level
18     Mid-Level
19          Lead
20     Mid-Level
21     Mid-Level
22       Manager
23        Junior
24     Mid-Level
25        Junior
26     Mid-Level
27        Junior
28     Mid-Level
29     Mid-Level
30        Junior
31        Junior
32        Junior
33     Mid-Level
34     Mid-Level
35     Mid-Level
36     Mid-Level
37        Junior
38        Senior
39     Mid-Level
40        Intern
41       Manager
42        Junior
43        Junior
44        Junior
45        Intern
46        Junior
47        Junior
48     Mid-Level
49        Junior
50        Junior
51       Manager
52     Mid-Level
53        Junior
54     Mid-Level
55     Mid-Level
56        Junior
57     Mid-Level
58     Mid-Level
59        Junior
60     Mid-Level
61     Mid-Level
62        Intern
63     Mid-Level
64     Mid-Level
65     Mid-Level
66        Junior
67     Mid-Level
68        Junior
69        Junior
70        Intern
71     Mid-Level
72        Intern
73        Junior
74        Intern
75        Intern
76     Mid-Level
77     Mid-Level
78     Mid-Level
79        Junior
80        Junior
81        Intern
82        Junior
83     Mid-Level
84        Intern
85     Mid-Level
86     Mid-Level
87        Intern
88     Mid-Level
89        Intern
90        Junior
91        Junior
92     Mid-Level
93        Junior
94     Mid-Level
95        Junior
96     Mid-Level
97        Senior
98        Junior
99        Junior
100    Mid-Level
101    Mid-Level
102    Mid-Level
103       Junior
104       Senior
105    Mid-Level
106         Lead
107       Junior
108    Mid-Level
109       Junior
110    Mid-Level
111    Mid-Level
112    Mid-Level
113       Junior
114       Senior
115    Mid-Level
116    Mid-Level
117       Intern
118       Intern
119       Junior
120    Mid-Level
121       Intern
122       Intern
123       Intern
124       Senior
125       Intern
126       Junior
127       Junior
128    Mid-Level
129    Mid-Level
130       Junior
131       Junior
132       Intern
133      Manager
134       Junior
135       Senior
136    Mid-Level
137       Intern
138    Mid-Level
139    Mid-Level
140       Junior
141       Intern
142    Mid-Level
143       Junior
144    Mid-Level
145       Senior
146       Intern
147    Mid-Level
148    Mid-Level
149       Senior
150    Mid-Level
151       Intern
152       Intern
153       Intern
154    Mid-Level
155       Intern
156       Junior
157    Mid-Level
158    Mid-Level
159    Mid-Level
160    Mid-Level
161       Junior
162    Mid-Level
163       Junior
164       Junior
165       Senior
166       Intern
167       Junior
168       Junior
169    Mid-Level
170       Intern
171       Intern
172    Mid-Level
Name: Level, dtype: object

In [19]:
#Salary column cleaning- Changing different currency format and converting them to standard currency i.e Ksh
df["Salary"]=df["Salary"].replace("00", "0")
df["Salary"]=df["Salary"].replace("500$", "65000")
df["Salary"]=df["Salary"].replace("15,000/-", "15000")
df["Salary"]=df["Salary"].replace("NaN", "0")
df["Salary"]=df["Salary"].replace("112,000KES", "112000")
df["Salary"]=df["Salary"].replace("920 EUROS", "130000")
df["Salary"]=df["Salary"].replace("Unemployed", "0")
df["Salary"]=df["Salary"].replace("Nill", "0")
df["Salary"]=df["Salary"].replace("25", "25000")


df["Salary"]

0         NaN
1      187000
2      190000
3       15000
4           0
5           0
6      500000
7      375000
8      335000
9      310000
10     280000
11     230000
12     200000
13     200000
14     200000
15     200000
16     177000
17     166000
18     160000
19     155000
20     155000
21     150000
22     150000
23     125000
24     120000
25     109000
26     105000
27     100000
28      97200
29      95000
30      92000
31      90000
32      80000
33      65000
34      62000
35      60000
36      55000
37      50000
38      40000
39      40000
40      35000
41      30000
42      30000
43      30000
44      27000
45      25000
46      15000
47       5000
48      80000
49     100000
50     108500
51      93000
52     160000
53      65000
54      75000
55     300000
56      90000
57     266000
58      85000
59     160000
60      80000
61     190000
62     250000
63     109775
64      50000
65     160000
66      80000
67      70000
68      50000
69     100000
70      60000
71      90000
72          0
73      15000
74        NaN
75        NaN
76      62000
77      60000
78     150000
79      38000
80     115000
81          0
82     116000
83     177000
84      35000
85      97000
86     170000
87      21000
88     130000
89      25000
90      40000
91     150000
92     140000
93     112000
94     270000
95      35000
96     180000
97     150000
98     200000
99     108500
100     45000
101    100000
102    108500
103     77000
104    260000
105    450000
106    185000
107    130000
108     60000
109         0
110     94000
111    201500
112    130000
113     90000
114    250000
115     40000
116    130000
117      1000
118     15000
119         0
120    180000
121     25000
122     20000
123       NaN
124    200000
125     40000
126     65000
127     70000
128    100000
129    240000
130     50000
131     85000
132         0
133    180000
134     70000
135    270000
136     50000
137     25000
138     80000
139    260000
140    120000
141         0
142    132000
143     60000
144       NaN
145    450000
146         0
147     60000
148    100000
149     95000
150     83000
151     30000
152        25
153      0000
154    100000
155       Nan
156     40000
157     65000
158     65000
159    109000
160     70000
161    100000
162    100000
163     30000
164    400000
165     70000
166         0
167       NaN
168    312000
169    100000
170     25000
171     18000
172     90100
Name: Salary, dtype: object

In [20]:
df["Work_Setup"]= df["Work_Setup"].replace("Hybrid-I choose my days to go the office", "Hybrid-Choose Office Days")
df["Work_Setup"]= df["Work_Setup"].replace("Hybrid- I need to be in the office specific days in a week", "Hybrid-Specific Office Days")
df["Work_Setup"]

0                      Full remote
1                      Full remote
2      Hybrid-Specific Office Days
3                      Full remote
4                      Full remote
5                      Full remote
6                      Full Office
7        Hybrid-Choose Office Days
8                      Full remote
9      Hybrid-Specific Office Days
10     Hybrid-Specific Office Days
11                     Full Office
12     Hybrid-Specific Office Days
13       Hybrid-Choose Office Days
14                     Full Office
15                     Full Office
16                     Full Office
17                     Full Office
18                     Full Office
19                     Full Office
20                     Full remote
21       Hybrid-Choose Office Days
22                     Full Office
23       Hybrid-Choose Office Days
24                     Full remote
25       Hybrid-Choose Office Days
26     Hybrid-Specific Office Days
27     Hybrid-Specific Office Days
28                     Full Office
29                     Full Office
30                     Full Office
31                     Full remote
32                     Full Office
33                     Full Office
34                     Full Office
35                     Full Office
36                     Full Office
37                     Full Office
38                     Full Office
39                     Full remote
40       Hybrid-Choose Office Days
41     Hybrid-Specific Office Days
42       Hybrid-Choose Office Days
43                     Full Office
44                     Full Office
45                     Full Office
46                     Full remote
47                     Full remote
48                     Full Office
49       Hybrid-Choose Office Days
50                     Full Office
51                     Full Office
52     Hybrid-Specific Office Days
53                     Full Office
54     Hybrid-Specific Office Days
55                     Full remote
56                     Full Office
57       Hybrid-Choose Office Days
58     Hybrid-Specific Office Days
59                     Full Office
60                     Full Office
61     Hybrid-Specific Office Days
62                     Full Office
63                     Full Office
64                     Full Office
65                     Full remote
66                     Full Office
67                     Full Office
68       Hybrid-Choose Office Days
69       Hybrid-Choose Office Days
70                     Full Office
71     Hybrid-Specific Office Days
72                     Full remote
73                     Full Office
74       Hybrid-Choose Office Days
75                     Full Office
76                     Full Office
77                     Full Office
78                     Full Office
79                     Full Office
80       Hybrid-Choose Office Days
81                     Full remote
82     Hybrid-Specific Office Days
83                     Full Office
84                     Full Office
85                     Full Office
86                     Full remote
87     Hybrid-Specific Office Days
88                     Full Office
89                     Full Office
90                     Full Office
91                     Full Office
92       Hybrid-Choose Office Days
93                     Full Office
94                     Full Office
95                     Full Office
96       Hybrid-Choose Office Days
97       Hybrid-Choose Office Days
98                     Full remote
99                     Full Office
100                    Full Office
101                    Full Office
102                    Full Office
103                    Full Office
104      Hybrid-Choose Office Days
105                    Full remote
106                    Full Office
107                    Full remote
108                    Full Office
109                    Full remote
110      Hybrid-Choose Office Days
111      Hybrid-Choose Office Days
112                    Full Office
113                    Full Office
114    Hybrid-Specific Office Days
115                    Full Office
116                    Full Office
117                    Full remote
118                    Full Office
119                    Full remote
120    Hybrid-Specific Office Days
121                    Full remote
122                    Full Office
123                    Full remote
124                    Full Office
125    Hybrid-Specific Office Days
126                    Full Office
127                    Full Office
128      Hybrid-Choose Office Days
129                    Full Office
130                    Full Office
131                    Full remote
132                    Full remote
133                    Full Office
134                    Full Office
135      Hybrid-Choose Office Days
136    Hybrid-Specific Office Days
137                    Full Office
138    Hybrid-Specific Office Days
139                    Full Office
140                    Full Office
141                    Full remote
142                    Full Office
143                    Full Office
144                    Full Office
145    Hybrid-Specific Office Days
146                    Full Office
147                    Full Office
148                    Full remote
149                    Full Office
150                    Full Office
151                    Full remote
152                    Full Office
153                    Full remote
154                    Full Office
155                    Full remote
156    Hybrid-Specific Office Days
157                    Full Office
158                    Full Office
159    Hybrid-Specific Office Days
160                    Full Office
161                    Full Office
162                    Full Office
163                    Full Office
164                    Full remote
165                    Full Office
166    Hybrid-Specific Office Days
167                    Full remote
168                    Full remote
169                    Full Office
170                    Full Office
171    Hybrid-Specific Office Days
172                    Full Office
Name: Work_Setup, dtype: object

In [21]:
#Droppind "Timestamp" column
df=df.drop(columns="Timestamp")
df

,Role,Other_Role,Level,Years_of_Experience,Industry,Gender,Stack,Other_Stack,Salary,Other_Benefit,Work_Setup,Employer_Type
0,Data Analyst,NaN,Mid-Level,1yr-2yrs,Education,Female,"Python, SQL, SAS/SPSS, Tableau, Excel",NaN,NaN,Other Company specific Perks not listed above,Full remote,Startup
1,Data Analyst,NaN,Junior,1yr-2yrs,FinTech,Female,"Python, SQL, Excel",NaN,187000,"Health Insurance, Pension, Mobile Phone",Full remote,Established
2,Data Analyst,NaN,Junior,1yr-2yrs,Health,Female,"Power BI, Excel",NaN,190000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
3,Data Analyst,NaN,Intern,Beginner,Education,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Bonus,Full remote,Startup
4,Data Analyst,NaN,Intern,Beginner,Analytics,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,0,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
5,Data Analyst,NaN,Intern,Beginner,Analytics,Male,"Python, SQL, R, SAS/SPSS, Tableau, Power BI, M...",NaN,0,"Health Insurance, Stocks, Equity, Mobile Phone...",Full remote,Established
6,Other,Academic Director,Manager,Over 7 Yrs,Education,Female,Excel,NaN,500000,Health Insurance,Full Office,Established
7,Other,Data Manager (Digital),Mid-Level,1yr-2yrs,NGO,Male,"Python, R, Power BI, Google Data Studio, Excel...",NaN,375000,"Health Insurance, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
8,Data Engineer,NaN,Mid-Level,3yrs-5yrs,FinTech,Male,"Python, SQL, Microsoft Azure",NaN,335000,"Health Insurance, Mobile Credit Top-up, Bonus",Full remote,Established
9,Data Analyst,NaN,Manager,Over 5 Yrs,Telecommunications,Female,"Python, SQL, Power BI, Excel",NaN,310000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
10,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Banking,Male,"Python, SQL, Other","Aws, Apache Spark, dbt etc",280000,"Health Insurance, Pension, Other Company speci...",Hybrid-Specific Office Days,Established
11,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Socio-economic Development,Female,"R, Power BI, Excel",NaN,230000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
12,Data Analyst,NaN,Senior,Over 7 Yrs,Telecommunications,Male,"Python, SQL, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
13,Data Analyst,NaN,Mid-Level,3yrs-5yrs,NGO,Male,"Python, Tableau, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
14,Data Analyst,NaN,Senior,3yrs-5yrs,Machine Learning,Male,"SQL, Google Sheets",NaN,200000,Bonus,Full Office,Established
15,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Retail,Female,"Excel, Google Sheets, Other",Metabase,200000,"Health Insurance, Stocks, Mobile Credit Top-up",Full Office,Startup
16,Data Analyst,NaN,Mid-Level,1yr-2yrs,Government,Female,"Python, SQL, Power BI, Excel",NaN,177000,"Health Insurance, Pension",Full Office,Established
17,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Utilities,Male,"R, Power BI, Excel",NaN,166000,"Health Insurance, Pension",Full Office,Established
18,Data Analyst,NaN,Mid-Level,1yr-2yrs,FinTech,Female,"Python, SQL, Power BI, Excel",NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
19,Data Analyst,Manufacturing,Lead,3yrs-5yrs,Manufacturing,Male,"SQL, Power BI, Excel, Google Sheets",NaN,155000,"Health Insurance, Mobile Credit Top-up, Bonus",Full Office,Startup
20,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,155000,"Health Insurance, Pension, Bonus",Full remote,Established
21,Data Analyst,NaN,Mid-Level,1yr-2yrs,SAAS,Female,"Python, SQL, Tableau, Excel, Google Sheets, Other",DBT,150000,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Startup
22,Other,Human Resources Manager,Manager,Over 7 Yrs,Religious,Female,Other,Microsoft office,150000,Health Insurance,Full Office,Established
23,Other,Monitoring & Evaluation,Junior,1yr-2yrs,NGO,Female,"Power BI, Excel, Google Sheets",NaN,125000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-Choose Office Days,Established
24,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FinTech,Female,"Python, SQL, R, Microsoft Azure, Excel",NaN,120000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
25,Data Analyst,NaN,Junior,1yr-2yrs,Accounting,Female,"Python, Power BI, Excel",NaN,109000,"Health Insurance, Pension, Bonus",Hybrid-Choose Office Days,Established
26,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"SQL, Tableau, Power BI, Excel, Google Sheets",NaN,105000,"Health Insurance, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
27,Data Analyst,Advisory,Junior,1yr-2yrs,Consulting,Male,"SQL, Power BI, Excel, Other",Alteryx,100000,Health Insurance,Hybrid-Specific Office Days,Established
28,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Banking,Male,"Power BI, Excel",NaN,97200,"Pension, Mobile Credit Top-up",Full Office,Established
29,Data Analyst,NaN,Mid-Level,1yr-2yrs,Banking,Female,"SQL, Excel, Google Sheets, Other",QlikSense,95000,"Health Insurance, Pension",Full Office,Established
30,Other,Data Mangement Associate,Junior,3yrs-5yrs,Health,Male,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,92000,"Health Insurance, Pension, Bonus",Full Office,Established
31,Data Analyst,NaN,Junior,1yr-2yrs,Utilities,Male,"Python, Excel",NaN,90000,Health Insurance,Full remote,Startup
32,Data Analyst,NaN,Junior,1yr-2yrs,FinTech,Male,"Python, SQL, R, Tableau, Google Data Studio, E...",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
33,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"Tableau, Power BI, Excel",NaN,65000,Bonus,Full Office,Established
34,Data Analyst,NaN,Mid-Level,3yrs-5yrs,IT,Female,"SQL, Excel, Google Sheets",NaN,62000,"Health Insurance, Pension",Full Office,Established
35,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Media,Female,"SQL, Power BI, Excel, Google Sheets",NaN,60000,Health Insurance,Full Office,Established
36,Data Analyst,NaN,Mid-Level,1yr-2yrs,Insurance broker,Female,"Power BI, Excel",NaN,55000,"Health Insurance, Pension, Bonus",Full Office,Established
37,Other,data officer,Junior,Beginner,Health,Male,Python,NaN,50000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
38,Data Analyst,NaN,Senior,3yrs-5yrs,FinTech,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,40000,Health Insurance,Full Office,Established
39,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Education,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,40000,Health Insurance,Full remote,Established
40,Data Analyst,NaN,Intern,Beginner,Energy,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,35000,"Health Insurance, Pension, Other Company speci...",Hybrid-Choose Office Days,Established
41,Other,community manager,Manager,Beginner,Edtech,Female,"Python, SQL, Power BI, Google Sheets",NaN,30000,Bonus,Hybrid-Specific Office Days,Startup
42,Data Analyst,NaN,Junior,Beginner,FinTech,Female,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,30000,Health Insurance,Hybrid-Choose Office Days,Established
43,Data Engineer,NaN,Junior,1yr-2yrs,FinTech,Female,"SQL, Excel, Google Sheets",NaN,30000,Monthly Vouchers,Full Office,Startup
44,Data Analyst,NaN,Junior,1yr-2yrs,Solar,Female,Excel,NaN,27000,Other Company specific Perks not listed above,Full Office,Established
45,Data Analyst,NaN,Intern,Beginner,FMCG,Male,"SQL, R, Tableau, Excel, Google Sheets",NaN,25000,Mobile Credit Top-up,Full Office,Startup
46,Data Analyst,NaN,Junior,3yrs-5yrs,Technology,Female,Other,Company provided,15000,Other Company specific Perks not listed above,Full remote,Established
47,Data Analyst,NaN,Junior,Beginner,Engineering,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,5000,Bonus,Full remote,Startup
48,Data Scientist,NaN,Mid-Level,1yr-2yrs,Agriculture,Female,"Python, Tableau, Power BI, Excel, Google Sheets",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
49,Other,Data Manager,Junior,1yr-2yrs,NGO,Female,"R, Power BI, Excel, Google Sheets, Other",STATA,100000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
50,Data Analyst,NaN,Junior,1yr-2yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
51,Other,HRM,Manager,Over 5 Yrs,FMCG,Male,Excel,NaN,93000,"Health Insurance, Mobile Credit Top-up, Other ...",Full Office,Startup
52,Data Analyst,NaN,Mid-Level,1yr-2yrs,Energy,Male,Python,NaN,160000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
53,Data Scientist,NaN,Junior,Beginner,Health,Male,Python,NaN,65000,Health Insurance,Full Office,Startup
54,Other,Business Intelligence Analyst,Mid-Level,1yr-2yrs,Automotive Industry,Female,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,75000,"Health Insurance, Equity, Bonus",Hybrid-Specific Office Days,Startup
55,Data Analyst,NaN,Mid-Level,3yrs-5yrs,NGO,Female,"Power BI, Excel",NaN,300000,"Health Insurance, Pension, Mobile Phone, Mobil...",Full remote,Established
56,Data Analyst,NaN,Junior,1yr-2yrs,Financial,Female,"Power BI, Excel",NaN,90000,Health Insurance,Full Office,Established
57,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Fintech and IT,Female,"Python, SQL, Power BI, Excel",NaN,266000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
58,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Market Research,Female,SAS/SPSS,NaN,85000,"Health Insurance, Pension",Hybrid-Specific Office Days,Established
59,Data Analyst,NaN,Junior,1yr-2yrs,FMCG,Female,"SQL, Power BI, Excel",NaN,160000,Health Insurance,Full Office,Established
60,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Logistics,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",Plotly,80000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
61,Data Analyst,NaN,Mid-Level,1yr-2yrs,Telecommunications,Female,"Python, SQL, Power BI, Other",Power Automate,190000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
62,Data Analyst,NaN,Intern,1yr-2yrs,HR,Male,"SQL, Tableau, Power BI, Excel",NaN,250000,Other Company specific Perks not listed above,Full Office,Established
63,Other,CX analyst,Mid-Level,1yr-2yrs,Banking,Female,"SQL, Excel",NaN,109775,"Health Insurance, Pension",Full Office,Established
64,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"Python, SQL, R, Power BI, Excel, Other",G-Smart,50000,"Health Insurance, Pension",Full Office,Established
65,Other,Research Assistant,Mid-Level,3yrs-5yrs,Environment Conservancy,Female,Excel,NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full remote,Established
66,Other,fulfilment supervisor,Junior,Beginner,supply chain,Female,SQL,NaN,80000,Health Insurance,Full Office,Established
67,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Non Profit Organization,Male,"SAS/SPSS, Power BI, Excel, Google Sheets",NaN,70000,"Health Insurance, Pension",Full Office,Established
68,Data Analyst,Rating Analyst,Junior,3yrs-5yrs,Business Information and Credit Management,Male,SQL,NaN,50000,Health Insurance,Hybrid-Choose Office Days,Established
69,Data Analyst,NaN,Junior,Beginner,NGO,Male,"Power BI, Excel",NaN,100000,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Established
70,Other,Finance Manager,Intern,Beginner,FinTech,Female,"Python, SQL, SAS/SPSS, Tableau, Power BI, Micr...",NaN,60000,Mobile Credit Top-up,Full Office,Startup
71,Other,Business intelligence analyst,Mid-Level,1yr-2yrs,Health,Female,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,90000,"Health Insurance, Pension, Bonus",Hybrid-Specific Office Days,Startup
72,Data Scientist,NaN,Intern,Beginner,School,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,0,Other Company specific Perks not listed above,Full remote,Established
73,Data Analyst,NaN,Junior,Beginner,Marketing,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Mobile Credit Top-up,Full Office,Startup
74,Data Scientist,NaN,Intern,Beginner,Research/Education,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,NaN,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Established
75,Data Analyst,NaN,Intern,Beginner,Professional Body,Female,"SQL, Power BI, Excel, Google Sheets",NaN,NaN,Other Company specific Perks not listed above,Full Office,Startup
76,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Artificial Intelligence,Male,"SQL, Google Data Studio, Google Sheets",NaN,62000,"Health Insurance, Bonus",Full Office,Established
77,Other,Sales Executive,Mid-Level,1yr-2yrs,FMCG,Female,"Power BI, Excel",NaN,60000,Health Insurance,Full Office,Established
78,Other,Risk Data Analyst,Mid-Level,1yr-2yrs,FinTech,Female,"SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension, Bonus",Full Office,Startup
79,Data Scientist,NaN,Junior,1yr-2yrs,FinTech,Male,"Python, SQL, R",NaN,38000,Bonus,Full Office,Established
80,Data Analyst,NaN,Junior,1yr-2yrs,NGO,Female,"R, Power BI, Google Sheets, Other",STATA,115000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
81,Data Analyst,NaN,Intern,Beginner,Research,Male,"Python, SQL, SAS/SPSS, Power BI, Excel",NaN,0,Other Company specific Perks not listed above,Full remote,Startup
82,Other,Data Analyst,Junior,1yr-2yrs,Finance,Male,"Python, SQL, Power BI, Excel",NaN,116000,"Health Insurance, Pension, Bonus",Hybrid-Specific Office Days,Established
83,Data Analyst,NaN,Mid-Level,1yr-2yrs,Government,Female,"Python, SQL, Excel",NaN,177000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
84,Data Scientist,NaN,Intern,Beginner,Health,Male,"Python, SQL, Tableau, Excel",NaN,35000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
85,Other,Performance Analyst,Mid-Level,3yrs-5yrs,Banking,Male,"SQL, Excel",NaN,97000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
86,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,170000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
87,Data Analyst,NaN,Intern,1yr-2yrs,Non-profit,Male,"SQL, SAS/SPSS, Power BI, Excel",NaN,21000,"Health Insurance, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
88,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Agriculture,Female,"Python, Power BI, Excel",NaN,130000,Other Company specific Perks not listed above,Full Office,Established
89,Other,Financial analyst,Intern,1yr-2yrs,Finance,Female,"Python, Excel, Google Sheets",NaN,25000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
90,Data Analyst,NaN,Junior,Beginner,IT,Female,"SQL, Power BI, Excel",NaN,40000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
91,Data Analyst,NaN,Junior,Over 5 Yrs,Utilities,Female,Python,NaN,150000,"Health Insurance, Pension",Full Office,Established
92,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Female,"Python, SQL, Tableau, Power BI, Excel",NaN,140000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-Choose Office Days,Established
93,Data Analyst,NaN,Junior,3yrs-5yrs,Health,Female,"R, Excel",NaN,112000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
94,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Retail,Female,"SQL, Excel, Google Sheets",NaN,270000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
95,Other,Security,Junior,Beginner,Banking,Male,"Python, SQL",NaN,35000,Health Insurance,Full Office,Established
96,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Media,Female,"SQL, Power BI, Google Data Studio, Excel, Goog...",NaN,180000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
97,Data Analyst,NaN,Senior,Over 5 Yrs,Research,Male,"Python, SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension",Hybrid-Choose Office Days,Established
98,Data Analyst,NaN,Junior,1yr-2yrs,Gaming,Female,"Python, SQL",NaN,200000,Bonus,Full remote,Startup
99,Data Analyst,NaN,Junior,3yrs-5yrs,Health,Female,"SQL, Power BI, Google Data Studio, Excel, Goog...",NaN,108500,Health Insurance,Full Office,Established
100,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Health,Female,Excel,NaN,45000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
101,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Consulting,Male,"Python, SQL, R, Tableau, Power BI, Google Data...",NaN,100000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
102,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,Health Insurance,Full Office,Established
103,Data Analyst,NaN,Junior,1yr-2yrs,FMCG,Male,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,77000,Other Company specific Perks not listed above,Full Office,Startup
104,Data Analyst,NaN,Senior,3yrs-5yrs,FinTech,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,260000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
105,Other,Product Analyst,Mid-Level,3yrs-5yrs,Media,Male,"Python, SQL, Power BI, Excel, Google Sheets",NaN,450000,Other Company specific Perks not listed above,Full remote,Established
106,Other,Data manager,Lead,Over 7 Yrs,Health,Female,"R, Excel, Other",STATA,185000,Health Insurance,Full Office,Established
107,Other,Business Intelligence & Customer Support devel...,Junior,1yr-2yrs,Analytics,Female,"Python, SQL",NaN,130000,Other Company specific Perks not listed above,Full remote,Startup
108,Data Analyst,NaN,Mid-Level,Beginner,Media,Female,"Python, SQL, Tableau, Excel",NaN,60000,"Health Insurance, Pension, Bonus",Full Office,Established
109,Data Analyst,NaN,Junior,1yr-2yrs,Utilities,Male,"SQL, Power BI, Excel",NaN,0,Mobile Credit Top-up,Full remote,Startup
110,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Female,"Tableau, Power BI, Excel",NaN,94000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-Choose Office Days,Established
111,Other,Data Specialist,Mid-Level,3yrs-5yrs,Non Profit,Female,"Power BI, Excel",NaN,201500,Health Insurance,Hybrid-Choose Office Days,Established
112,Data Analyst,NaN,Mid-Level,1yr-2yrs,Conservation,Female,"SQL, Tableau",NaN,130000,"Health Insurance, Mobile Credit Top-up, Bonus,...",Full Office,Established
113,Data Analyst,NaN,Junior,1yr-2yrs,Finance,Female,"SQL, Power BI, Excel",NaN,90000,"Health Insurance, Pension",Full Office,Established
114,Data Scientist,NaN,Senior,3yrs-5yrs,FinTech,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",Oracle Cloud,250000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-Specific Office Days,Startup
115,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Female,"SQL, SAS/SPSS, Excel",NaN,40000,Other Company specific Perks not listed above,Full Office,Established
116,Other,Sales Operation Analyst,Mid-Level,Over 5 Yrs,FinTech,Female,"Excel, Google Sheets",NaN,130000,"Health Insurance, Mobile Credit Top-up",Full Office,Startup
117,Data Analyst,NaN,Intern,Beginner,Graphic design,Male,Python,NaN,1000,Mobile Credit Top-up,Full remote,Established
118,Data Analyst,NaN,Intern,1yr-2yrs,Retail,Female,"Excel, Google Sheets",NaN,15000,Other Company specific Perks not listed above,Full Office,Established
119,Data Analyst,NaN,Junior,Beginner,E-commerce,Female,"SQL, Power BI, Excel",NaN,0,Monthly Vouchers,Full remote,Startup
120,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FinTech,Male,"Python, SQL, R, Tableau, Power BI, Google Data...",NaN,180000,"Health Insurance, Fuel Allowance",Hybrid-Specific Office Days,Established
121,Data Analyst,NaN,Intern,Beginner,HR,Female,"SQL, Power BI, Excel",NaN,25000,Other Company specific Perks not listed above,Full remote,Startup
122,Data Analyst,NaN,Intern,1yr-2yrs,eMOBILITY,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,20000,Mobile Credit Top-up,Full Office,Startup

In [22]:
#Replacing null values with 0 to be able to change data type
df["Salary"]= df["Salary"].fillna(0)

In [23]:
#Dropping columns where salary is 0
df= df.drop([0,4,5,72,74,75,81,109,119,123,132,141,144,146,153,155,166,167], axis=0)
df

,Role,Other_Role,Level,Years_of_Experience,Industry,Gender,Stack,Other_Stack,Salary,Other_Benefit,Work_Setup,Employer_Type
1,Data Analyst,NaN,Junior,1yr-2yrs,FinTech,Female,"Python, SQL, Excel",NaN,187000,"Health Insurance, Pension, Mobile Phone",Full remote,Established
2,Data Analyst,NaN,Junior,1yr-2yrs,Health,Female,"Power BI, Excel",NaN,190000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
3,Data Analyst,NaN,Intern,Beginner,Education,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Bonus,Full remote,Startup
6,Other,Academic Director,Manager,Over 7 Yrs,Education,Female,Excel,NaN,500000,Health Insurance,Full Office,Established
7,Other,Data Manager (Digital),Mid-Level,1yr-2yrs,NGO,Male,"Python, R, Power BI, Google Data Studio, Excel...",NaN,375000,"Health Insurance, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
8,Data Engineer,NaN,Mid-Level,3yrs-5yrs,FinTech,Male,"Python, SQL, Microsoft Azure",NaN,335000,"Health Insurance, Mobile Credit Top-up, Bonus",Full remote,Established
9,Data Analyst,NaN,Manager,Over 5 Yrs,Telecommunications,Female,"Python, SQL, Power BI, Excel",NaN,310000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
10,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Banking,Male,"Python, SQL, Other","Aws, Apache Spark, dbt etc",280000,"Health Insurance, Pension, Other Company speci...",Hybrid-Specific Office Days,Established
11,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Socio-economic Development,Female,"R, Power BI, Excel",NaN,230000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
12,Data Analyst,NaN,Senior,Over 7 Yrs,Telecommunications,Male,"Python, SQL, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
13,Data Analyst,NaN,Mid-Level,3yrs-5yrs,NGO,Male,"Python, Tableau, Power BI, Excel",NaN,200000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
14,Data Analyst,NaN,Senior,3yrs-5yrs,Machine Learning,Male,"SQL, Google Sheets",NaN,200000,Bonus,Full Office,Established
15,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Retail,Female,"Excel, Google Sheets, Other",Metabase,200000,"Health Insurance, Stocks, Mobile Credit Top-up",Full Office,Startup
16,Data Analyst,NaN,Mid-Level,1yr-2yrs,Government,Female,"Python, SQL, Power BI, Excel",NaN,177000,"Health Insurance, Pension",Full Office,Established
17,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Utilities,Male,"R, Power BI, Excel",NaN,166000,"Health Insurance, Pension",Full Office,Established
18,Data Analyst,NaN,Mid-Level,1yr-2yrs,FinTech,Female,"Python, SQL, Power BI, Excel",NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
19,Data Analyst,Manufacturing,Lead,3yrs-5yrs,Manufacturing,Male,"SQL, Power BI, Excel, Google Sheets",NaN,155000,"Health Insurance, Mobile Credit Top-up, Bonus",Full Office,Startup
20,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,155000,"Health Insurance, Pension, Bonus",Full remote,Established
21,Data Analyst,NaN,Mid-Level,1yr-2yrs,SAAS,Female,"Python, SQL, Tableau, Excel, Google Sheets, Other",DBT,150000,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Startup
22,Other,Human Resources Manager,Manager,Over 7 Yrs,Religious,Female,Other,Microsoft office,150000,Health Insurance,Full Office,Established
23,Other,Monitoring & Evaluation,Junior,1yr-2yrs,NGO,Female,"Power BI, Excel, Google Sheets",NaN,125000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-Choose Office Days,Established
24,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FinTech,Female,"Python, SQL, R, Microsoft Azure, Excel",NaN,120000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
25,Data Analyst,NaN,Junior,1yr-2yrs,Accounting,Female,"Python, Power BI, Excel",NaN,109000,"Health Insurance, Pension, Bonus",Hybrid-Choose Office Days,Established
26,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"SQL, Tableau, Power BI, Excel, Google Sheets",NaN,105000,"Health Insurance, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
27,Data Analyst,Advisory,Junior,1yr-2yrs,Consulting,Male,"SQL, Power BI, Excel, Other",Alteryx,100000,Health Insurance,Hybrid-Specific Office Days,Established
28,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Banking,Male,"Power BI, Excel",NaN,97200,"Pension, Mobile Credit Top-up",Full Office,Established
29,Data Analyst,NaN,Mid-Level,1yr-2yrs,Banking,Female,"SQL, Excel, Google Sheets, Other",QlikSense,95000,"Health Insurance, Pension",Full Office,Established
30,Other,Data Mangement Associate,Junior,3yrs-5yrs,Health,Male,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,92000,"Health Insurance, Pension, Bonus",Full Office,Established
31,Data Analyst,NaN,Junior,1yr-2yrs,Utilities,Male,"Python, Excel",NaN,90000,Health Insurance,Full remote,Startup
32,Data Analyst,NaN,Junior,1yr-2yrs,FinTech,Male,"Python, SQL, R, Tableau, Google Data Studio, E...",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
33,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"Tableau, Power BI, Excel",NaN,65000,Bonus,Full Office,Established
34,Data Analyst,NaN,Mid-Level,3yrs-5yrs,IT,Female,"SQL, Excel, Google Sheets",NaN,62000,"Health Insurance, Pension",Full Office,Established
35,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Media,Female,"SQL, Power BI, Excel, Google Sheets",NaN,60000,Health Insurance,Full Office,Established
36,Data Analyst,NaN,Mid-Level,1yr-2yrs,Insurance broker,Female,"Power BI, Excel",NaN,55000,"Health Insurance, Pension, Bonus",Full Office,Established
37,Other,data officer,Junior,Beginner,Health,Male,Python,NaN,50000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
38,Data Analyst,NaN,Senior,3yrs-5yrs,FinTech,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,40000,Health Insurance,Full Office,Established
39,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Education,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,40000,Health Insurance,Full remote,Established
40,Data Analyst,NaN,Intern,Beginner,Energy,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,35000,"Health Insurance, Pension, Other Company speci...",Hybrid-Choose Office Days,Established
41,Other,community manager,Manager,Beginner,Edtech,Female,"Python, SQL, Power BI, Google Sheets",NaN,30000,Bonus,Hybrid-Specific Office Days,Startup
42,Data Analyst,NaN,Junior,Beginner,FinTech,Female,"Python, SQL, Tableau, Power BI, Microsoft Azur...",NaN,30000,Health Insurance,Hybrid-Choose Office Days,Established
43,Data Engineer,NaN,Junior,1yr-2yrs,FinTech,Female,"SQL, Excel, Google Sheets",NaN,30000,Monthly Vouchers,Full Office,Startup
44,Data Analyst,NaN,Junior,1yr-2yrs,Solar,Female,Excel,NaN,27000,Other Company specific Perks not listed above,Full Office,Established
45,Data Analyst,NaN,Intern,Beginner,FMCG,Male,"SQL, R, Tableau, Excel, Google Sheets",NaN,25000,Mobile Credit Top-up,Full Office,Startup
46,Data Analyst,NaN,Junior,3yrs-5yrs,Technology,Female,Other,Company provided,15000,Other Company specific Perks not listed above,Full remote,Established
47,Data Analyst,NaN,Junior,Beginner,Engineering,Male,"Python, SQL, R, Tableau, Power BI, Excel, Goog...",NaN,5000,Bonus,Full remote,Startup
48,Data Scientist,NaN,Mid-Level,1yr-2yrs,Agriculture,Female,"Python, Tableau, Power BI, Excel, Google Sheets",NaN,80000,Other Company specific Perks not listed above,Full Office,Startup
49,Other,Data Manager,Junior,1yr-2yrs,NGO,Female,"R, Power BI, Excel, Google Sheets, Other",STATA,100000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
50,Data Analyst,NaN,Junior,1yr-2yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Startup
51,Other,HRM,Manager,Over 5 Yrs,FMCG,Male,Excel,NaN,93000,"Health Insurance, Mobile Credit Top-up, Other ...",Full Office,Startup
52,Data Analyst,NaN,Mid-Level,1yr-2yrs,Energy,Male,Python,NaN,160000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
53,Data Scientist,NaN,Junior,Beginner,Health,Male,Python,NaN,65000,Health Insurance,Full Office,Startup
54,Other,Business Intelligence Analyst,Mid-Level,1yr-2yrs,Automotive Industry,Female,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,75000,"Health Insurance, Equity, Bonus",Hybrid-Specific Office Days,Startup
55,Data Analyst,NaN,Mid-Level,3yrs-5yrs,NGO,Female,"Power BI, Excel",NaN,300000,"Health Insurance, Pension, Mobile Phone, Mobil...",Full remote,Established
56,Data Analyst,NaN,Junior,1yr-2yrs,Financial,Female,"Power BI, Excel",NaN,90000,Health Insurance,Full Office,Established
57,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Fintech and IT,Female,"Python, SQL, Power BI, Excel",NaN,266000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
58,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Market Research,Female,SAS/SPSS,NaN,85000,"Health Insurance, Pension",Hybrid-Specific Office Days,Established
59,Data Analyst,NaN,Junior,1yr-2yrs,FMCG,Female,"SQL, Power BI, Excel",NaN,160000,Health Insurance,Full Office,Established
60,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Logistics,Male,"Python, SQL, Tableau, Power BI, Microsoft Azur...",Plotly,80000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
61,Data Analyst,NaN,Mid-Level,1yr-2yrs,Telecommunications,Female,"Python, SQL, Power BI, Other",Power Automate,190000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Specific Office Days,Established
62,Data Analyst,NaN,Intern,1yr-2yrs,HR,Male,"SQL, Tableau, Power BI, Excel",NaN,250000,Other Company specific Perks not listed above,Full Office,Established
63,Other,CX analyst,Mid-Level,1yr-2yrs,Banking,Female,"SQL, Excel",NaN,109775,"Health Insurance, Pension",Full Office,Established
64,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Male,"Python, SQL, R, Power BI, Excel, Other",G-Smart,50000,"Health Insurance, Pension",Full Office,Established
65,Other,Research Assistant,Mid-Level,3yrs-5yrs,Environment Conservancy,Female,Excel,NaN,160000,"Health Insurance, Pension, Mobile Credit Top-up",Full remote,Established
66,Other,fulfilment supervisor,Junior,Beginner,supply chain,Female,SQL,NaN,80000,Health Insurance,Full Office,Established
67,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Non Profit Organization,Male,"SAS/SPSS, Power BI, Excel, Google Sheets",NaN,70000,"Health Insurance, Pension",Full Office,Established
68,Data Analyst,Rating Analyst,Junior,3yrs-5yrs,Business Information and Credit Management,Male,SQL,NaN,50000,Health Insurance,Hybrid-Choose Office Days,Established
69,Data Analyst,NaN,Junior,Beginner,NGO,Male,"Power BI, Excel",NaN,100000,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Established
70,Other,Finance Manager,Intern,Beginner,FinTech,Female,"Python, SQL, SAS/SPSS, Tableau, Power BI, Micr...",NaN,60000,Mobile Credit Top-up,Full Office,Startup
71,Other,Business intelligence analyst,Mid-Level,1yr-2yrs,Health,Female,"Python, SQL, Power BI, Microsoft Azure, Excel",NaN,90000,"Health Insurance, Pension, Bonus",Hybrid-Specific Office Days,Startup
73,Data Analyst,NaN,Junior,Beginner,Marketing,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,15000,Mobile Credit Top-up,Full Office,Startup
76,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Artificial Intelligence,Male,"SQL, Google Data Studio, Google Sheets",NaN,62000,"Health Insurance, Bonus",Full Office,Established
77,Other,Sales Executive,Mid-Level,1yr-2yrs,FMCG,Female,"Power BI, Excel",NaN,60000,Health Insurance,Full Office,Established
78,Other,Risk Data Analyst,Mid-Level,1yr-2yrs,FinTech,Female,"SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension, Bonus",Full Office,Startup
79,Data Scientist,NaN,Junior,1yr-2yrs,FinTech,Male,"Python, SQL, R",NaN,38000,Bonus,Full Office,Established
80,Data Analyst,NaN,Junior,1yr-2yrs,NGO,Female,"R, Power BI, Google Sheets, Other",STATA,115000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
82,Other,Data Analyst,Junior,1yr-2yrs,Finance,Male,"Python, SQL, Power BI, Excel",NaN,116000,"Health Insurance, Pension, Bonus",Hybrid-Specific Office Days,Established
83,Data Analyst,NaN,Mid-Level,1yr-2yrs,Government,Female,"Python, SQL, Excel",NaN,177000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
84,Data Scientist,NaN,Intern,Beginner,Health,Male,"Python, SQL, Tableau, Excel",NaN,35000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
85,Other,Performance Analyst,Mid-Level,3yrs-5yrs,Banking,Male,"SQL, Excel",NaN,97000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
86,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Male,"SQL, Power BI, Microsoft Azure, Excel",NaN,170000,"Health Insurance, Bonus, Other Company specifi...",Full remote,Established
87,Data Analyst,NaN,Intern,1yr-2yrs,Non-profit,Male,"SQL, SAS/SPSS, Power BI, Excel",NaN,21000,"Health Insurance, Mobile Credit Top-up",Hybrid-Specific Office Days,Established
88,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Agriculture,Female,"Python, Power BI, Excel",NaN,130000,Other Company specific Perks not listed above,Full Office,Established
89,Other,Financial analyst,Intern,1yr-2yrs,Finance,Female,"Python, Excel, Google Sheets",NaN,25000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
90,Data Analyst,NaN,Junior,Beginner,IT,Female,"SQL, Power BI, Excel",NaN,40000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
91,Data Analyst,NaN,Junior,Over 5 Yrs,Utilities,Female,Python,NaN,150000,"Health Insurance, Pension",Full Office,Established
92,Data Scientist,NaN,Mid-Level,3yrs-5yrs,Telecommunications,Female,"Python, SQL, Tableau, Power BI, Excel",NaN,140000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-Choose Office Days,Established
93,Data Analyst,NaN,Junior,3yrs-5yrs,Health,Female,"R, Excel",NaN,112000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
94,Data Analyst,NaN,Mid-Level,Over 5 Yrs,Retail,Female,"SQL, Excel, Google Sheets",NaN,270000,"Health Insurance, Mobile Credit Top-up",Full Office,Established
95,Other,Security,Junior,Beginner,Banking,Male,"Python, SQL",NaN,35000,Health Insurance,Full Office,Established
96,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Media,Female,"SQL, Power BI, Google Data Studio, Excel, Goog...",NaN,180000,"Health Insurance, Pension, Mobile Credit Top-up",Hybrid-Choose Office Days,Established
97,Data Analyst,NaN,Senior,Over 5 Yrs,Research,Male,"Python, SQL, Power BI, Excel",NaN,150000,"Health Insurance, Pension",Hybrid-Choose Office Days,Established
98,Data Analyst,NaN,Junior,1yr-2yrs,Gaming,Female,"Python, SQL",NaN,200000,Bonus,Full remote,Startup
99,Data Analyst,NaN,Junior,3yrs-5yrs,Health,Female,"SQL, Power BI, Google Data Studio, Excel, Goog...",NaN,108500,Health Insurance,Full Office,Established
100,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Health,Female,Excel,NaN,45000,"Health Insurance, Pension, Mobile Credit Top-up",Full Office,Established
101,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Consulting,Male,"Python, SQL, R, Tableau, Power BI, Google Data...",NaN,100000,"Health Insurance, Pension, Other Company speci...",Full Office,Established
102,Data Analyst,NaN,Mid-Level,3yrs-5yrs,Health,Female,"SQL, Tableau, Power BI, Google Data Studio, Ex...",NaN,108500,Health Insurance,Full Office,Established
103,Data Analyst,NaN,Junior,1yr-2yrs,FMCG,Male,"Python, SQL, Power BI, Google Data Studio, Exc...",NaN,77000,Other Company specific Perks not listed above,Full Office,Startup
104,Data Analyst,NaN,Senior,3yrs-5yrs,FinTech,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,260000,"Health Insurance, Pension, Mobile Phone, Mobil...",Hybrid-Choose Office Days,Established
105,Other,Product Analyst,Mid-Level,3yrs-5yrs,Media,Male,"Python, SQL, Power BI, Excel, Google Sheets",NaN,450000,Other Company specific Perks not listed above,Full remote,Established
106,Other,Data manager,Lead,Over 7 Yrs,Health,Female,"R, Excel, Other",STATA,185000,Health Insurance,Full Office,Established
107,Other,Business Intelligence & Customer Support devel...,Junior,1yr-2yrs,Analytics,Female,"Python, SQL",NaN,130000,Other Company specific Perks not listed above,Full remote,Startup
108,Data Analyst,NaN,Mid-Level,Beginner,Media,Female,"Python, SQL, Tableau, Excel",NaN,60000,"Health Insurance, Pension, Bonus",Full Office,Established
110,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Female,"Tableau, Power BI, Excel",NaN,94000,"Health Insurance, Pension, Mobile Credit Top-u...",Hybrid-Choose Office Days,Established
111,Other,Data Specialist,Mid-Level,3yrs-5yrs,Non Profit,Female,"Power BI, Excel",NaN,201500,Health Insurance,Hybrid-Choose Office Days,Established
112,Data Analyst,NaN,Mid-Level,1yr-2yrs,Conservation,Female,"SQL, Tableau",NaN,130000,"Health Insurance, Mobile Credit Top-up, Bonus,...",Full Office,Established
113,Data Analyst,NaN,Junior,1yr-2yrs,Finance,Female,"SQL, Power BI, Excel",NaN,90000,"Health Insurance, Pension",Full Office,Established
114,Data Scientist,NaN,Senior,3yrs-5yrs,FinTech,Female,"Python, SQL, Tableau, Power BI, Excel, Google ...",Oracle Cloud,250000,"Health Insurance, Mobile Credit Top-up, Bonus",Hybrid-Specific Office Days,Startup
115,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FMCG,Female,"SQL, SAS/SPSS, Excel",NaN,40000,Other Company specific Perks not listed above,Full Office,Established
116,Other,Sales Operation Analyst,Mid-Level,Over 5 Yrs,FinTech,Female,"Excel, Google Sheets",NaN,130000,"Health Insurance, Mobile Credit Top-up",Full Office,Startup
117,Data Analyst,NaN,Intern,Beginner,Graphic design,Male,Python,NaN,1000,Mobile Credit Top-up,Full remote,Established
118,Data Analyst,NaN,Intern,1yr-2yrs,Retail,Female,"Excel, Google Sheets",NaN,15000,Other Company specific Perks not listed above,Full Office,Established
120,Data Analyst,NaN,Mid-Level,3yrs-5yrs,FinTech,Male,"Python, SQL, R, Tableau, Power BI, Google Data...",NaN,180000,"Health Insurance, Fuel Allowance",Hybrid-Specific Office Days,Established
121,Data Analyst,NaN,Intern,Beginner,HR,Female,"SQL, Power BI, Excel",NaN,25000,Other Company specific Perks not listed above,Full remote,Startup
122,Data Analyst,NaN,Intern,1yr-2yrs,eMOBILITY,Male,"Python, SQL, Tableau, Power BI, Excel, Google ...",NaN,20000,Mobile Credit Top-up,Full Office,Startup
124,Other,NaN,Senior,3yrs-5yrs,E-commerce,Female,"Python, SQL, Power BI, Excel, Google Sheets",NaN,200000,"Health Insurance, Pension",Full Office,Startup
125,Data Analyst,NaN,Intern,Beginner,Health,Male,"SQL, Power BI, Excel, Google Sheets",NaN,40000,Health Insurance,Hybrid-Specific Office Days,Startup
126,Other,SAP Consultant,Junior,3yrs-5yrs,ERP,Male,"Python, SQL, Power BI, Excel",NaN,65000,Health Insurance,Full Office,Established
127,Other,ERP Consultnat,Junior,3yrs-5yrs,ERP,Male,"Python, SQL, Power BI, Excel",NaN,70000,Health Insurance,Full Office,Established
128,Other,Operations Analyst,Mid-Level,3yrs-5yrs,FMCG,Male,"Python, SQL, Power BI, Excel",NaN,100000,Other Company specific Perks not listed above,Hybrid-Choose Office Days,Startup
129,Data Engineer,NaN,Mid-Level,3yrs-5yrs,Non Profit,Male,"Python, SQL, Other",AWS,240000,"Health Insurance, Pension, Mobile Credit Top-u...",Full Office,Established
130,Data Analyst,NaN,Junior,Beginner,FinTech,Female,"Python, Excel, Google Sheets, Other",NaN,50000,"Health Insurance, Mobile Credit Top-up",Full Office,Startup
131,Data Analyst,NaN,Junior,Beginner,FinTech,Female,Excel,NaN,85000,"Health Insurance, Mobile Credit Top-up, Bonus",Full remote,Established
133,Data Analyst,NaN,Manager,3yrs-5yrs,Banking,Female,"SQL, Power BI, Excel",NaN,180000,"Health Insurance, Pension, Bonus",Full Office,Established
134,Data Analyst,NaN,Junior,1yr-2yrs,Pension Administration,Male,"Python, Power BI, Excel",NaN,70000,"Health Insurance, Pension, Mobile Credit Top-u...",Full Office,Established

In [24]:
df.dtypes

Role                   object
Other_Role             object
Level                  object
Years_of_Experience    object
Industry               object
Gender                 object
Stack                  object
Other_Stack            object
Salary                 object
Other_Benefit          object
Work_Setup             object
Employer_Type          object
dtype: object

In [26]:
df["Salary"]= df["Salary"].astype("int")